
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  /* background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.splitscreen-container {
  position: relative;
}

/* ----------------NAVBAR------------------ */

.nav-container {
  position: relative;
}

#navbar-brand-logo {
  margin: 0;
  padding: 0;
  height: 5em;
  width: 5em;
}


/* ----------------HOME------------------ */
.home-parent-div {
  background-color: black;
  position: absolute;
  /* right: 50%; */
  left: 10vh;
  top: 5vh;
  height: 600px;
  width: 1350px;
  margin: auto;
}

.tmd-logo-white {
  position: absolute;
  height: 50px;
  width: 150px;
  top: 30px;
  left: 50px;
  padding: 0;
  margin: 0;
}

.hero-pic {
  position: absolute;
  height: 550px;
  left: 100px;
  top: 100px;
  background-color: rgb(1, 1, 1);
  border-radius: 60%;
}

.home-text-container {
  height: 300px;
  width: 600px;
  position: relative;
  left: 200px;
  top:200px;
}



hr {
  width: 15%;
  height: 20px;
  position: absolute;
  right: 535px;
  top: 90px;
  color: white;
}

.home-title {
  font-size: 75px;
  text-align: center;
  margin: 10px;
  position: absolute;
  right: 350px;
  top: 120px;
  color: white;
}

.home-subtitle {
  text-align: center;
  margin: 10px;
  position: absolute;
  right: 324px;
  top: 250px;
  color: white;
}

.home-about-text {
  position: absolute;
  /* text-align: center; */
  color: white;
  right: 63px;
  top: 300px;
}
/* ----------------CONTACT------------------ */

.contact-pane-left {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-pane-right {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-page-leftside-text {
  font-size: 80px;
  color: white;
}

.form-input {
  margin: 10px;
  width: 400px;
}

.form-btn {
  margin: 5px;
}

/* ----------------FOOTER------------------- */

.footer-main-div {
  position: absolute;
  bottom: 0px;
  right: 0;
  margin: 10px;
  right: 20px;
}

.social-links {
  text-align: center;
}