* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* position: relative; */
}

/* ----------------Landing------------------ */

.landing-parent-div {
  text-align: center;
}
/* ----------------NAVBAR------------------ */


.tmd-navbar-brand-logo {
  height: 50px;
  width: 150px;
}

/* ----------------HOME------------------ */
.home-main {
  margin-top: 20px;
  box-shadow: 5px 5px 20px rgb(119, 117, 117);
  border-radius: 10px;
}

.hero-pic {
  border-radius: 30px;
}

.home-right-text {
  text-align: center;
}

hr {
  width: 75%;
  height: 20px;
  color: white;
  margin: auto;
}

.home-title {
  font-size: 75px;
  text-align: center;
  margin: 20px;
  color: white;
}

h5, p {
  margin: 20px;
}

/* ----------------WORK------------------ */

.work-pane-left, 
.work-pane-right,
.work-pane-left-2 
  {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.work-pane-right, 
.work-pane-left-2 
  {
    background-color: black;
  }


  .work-pane-text-wrapper {
    color: rgb(228, 220, 220);
    font-size: 20px;
    margin: 5px;
    padding: 25px;
  }

  .work-section-split {
    background-color: rgb(37, 35, 35);
    height: 50px;
  }

/* ----------------ABOUT-------------------- */
.about-container, .item {
  border: solid;
}

/* ----------------CONTACT------------------ */

.contact-pane-left, .contact-pane-right {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-pane-right {
  background-color: black;
}

.contact-pane-left-text {
  font-size: 80px;
  color: white;
}

.form-input {
  margin: 10px;
  width: 400px;
}

.form-btn {
  margin: 5px;
}

/* ----------------FOOTER------------------- */

.copyright {
  text-align: right;
}

.social-links {
  display: flex;
  text-align: center;
  margin-top:70px;
  padding: 20px;
  justify-content: space-evenly;
}